* {
  margin: 0;
}

#signUpForm {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: end;
  height: 20vh;
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.122);
  border: 2px solid rgba(0, 0, 0, 0.101);
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 300px;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

#logInForm {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: end;
  height: 20vh;
  box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.122);
  border: 2px solid rgba(0, 0, 0, 0.101);
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 300px;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
}

.gameGroup {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 1fr, 1fr, 1fr;
  place-items: center;
}

.gameSinglur {
  border: 2px solid black;
  text-align: center;
  align-items: center;
  overflow: none;
  padding: 8px;
  border-radius: 15px;
  margin: 5px;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
}

#addToCartBttn {
  color: black;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

#viewGameBttn {
  color: black;
  border: 2px solid rgb(19, 19, 19);
  min-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

#addToCartBttn:hover {
  background-color: rgba(0, 0, 0, 0.706);
  color: white;
  cursor: pointer;
}

#viewGameBttn:hover {
  background-color: rgba(0, 0, 0, 0.706);
  color: white;
  cursor: pointer;
}

#gameImage {
  align-items: center;
  place-items: center;
  display: flex;
  justify-content: center;
}
