.logout-button {
    background-color: rgba(0, 0, 0, 0.414);
    /* background-color: aliceblue; */
    color: black;
    color: white;
    border: 2px solid rgb(19, 19, 19);
    min-width: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }