.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background: #797979;
  min-height: 100vh;
  background: -moz-radial-gradient(
    center,
    #797979 0%,
    #004076 100%,
    #cecece 100%
  );
  background: -webkit-radial-gradient(
    center,
    #797979 0%,
    #004076 100%,
    #cecece 100%
  );
  background: radial-gradient(
    ellipse at center,
    #797979 0%,
    #004076 100%,
    #cecece 100%
  );
  color: white;
}

.cart-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  /* border: white groove 3px; */
  padding: 10px;
  margin: 5px;
  /* border-radius: 10px; */
}

.total-cost {
  padding-top: 5px;
}

.cartInfo-box {
  float: left;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  gap: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameImage-cart {
  float: right;
}

.smallerContainer-cart {
  border: white groove 3px;
  border-radius: 10px;
  padding: 10px;
  min-height: 200px;
  min-width: 400px;
  text-align: center;
}

.title-cart {
  text-align: center;
}

.emptyCartText {
  padding-top: 30px;
}

#removeOneBttn {
  background-color: rgba(0, 0, 0, 0.414);
  /* background-color: aliceblue; */
  color: white;
  border: 2px solid rgb(19, 19, 19);
  min-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#removeOneBttn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.158);
}