.gamestore-container {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: #555555;
  background: -moz-radial-gradient(
    center,
    #555555 0%,
    #003f74 50%,
    #555555 100%
  );
  background: -webkit-radial-gradient(
    center,
    #555555 0%,
    #003f74 50%,
    #555555 100%
  );
  background: radial-gradient(
    ellipse at center,
    #555555 0%,
    #003f74 50%,
    #555555 100%
  );

  z-index: -1;
}

.gameGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  max-width: 1400px;
  /* height: auto; */
  grid-template-columns: 1fr, 1fr, 1fr;
  place-items: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-variant: small-caps;

  z-index: 2;
}

.gameSinglur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  border: 1px groove white;
  text-align: center;
  align-items: center;
  overflow: none;
  padding: 4px;
  border-radius: 15px;
  margin: 5px;
  height: 550px;
  width: 330px;
  grid-template-columns: 1fr, 1fr, 1fr;
  background-color: rgba(255, 255, 255, 0.345);
}

.addToCartBttn {
  background-color: rgba(0, 0, 0, 0.414);
  /* background-color: aliceblue; */
  color: black;
  color: white;
  border: 2px solid rgb(19, 19, 19);
  max-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  align-items: center;
}

#viewGameBttn {
  background-color: rgba(0, 0, 0, 0.414);
  /* background-color: aliceblue; */
  color: black;
  color: white;
  border: 2px solid rgb(19, 19, 19);
  min-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgba(0, 0, 0, 0.706);
  color: white;
  cursor: pointer;
}

#viewGameBttn:hover {
  background-color: rgba(0, 0, 0, 0.706);
  color: white;
  cursor: pointer;
}

#gameImageContainer-store {
}

.gameTitle-store {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: larger;
}

.gameInfo-store {
}

.headerTripleJ-store {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
  color: rgb(255, 127, 80);
  opacity: 10%;

  font-family: Mario;
  font-size: 300px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;

  position: fixed;
  z-index: 1;
  transform: translate(0%, 30%);
}
